# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]

# Data & Embeddings
backend/customers.json
# (documents.json and embeddings.npy are tracked, customers.zip is tracked)

# OS
.DS_Store
Thumbs.db
